.App {
  text-align: center;
}

.App-header {
  background-color: #cf7c00;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.count {
  font-size: 50vh;
}

.CounterButtons {
  margin: 0px 50px;
}

.btn-lg {
  width: 100px;
  height: 100px;
}

.reset {
  color: white;
  font-size: 40;
}
